* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --back-color: hsl(226, 43%, 10%);
    --purp: #5747EA;
    --orange: #FF8B64;
    --white: #fff;
    --offsetpurp: #BBC0FF;
    --turk: #55C2E6;
    --red: #FF5E7D;
    --green: #4BCF82;
    --twitch_purp: #7335D2;
    --yellow: #F1C75B;
    --faded: #7078C9;
}

body {
    background-color: var(--back-color);
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

#large-box {
    background-color: #1C204B;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#big_purp {
    background-color: var(--purp);
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;

}

#small_purp {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    justify-content: space-around;

}

#small_purp p {
    padding: 1.5rem;
    font-weight: 400;
    color: var(--faded);
    font-family: 'Rubik', sans-serif;
}

.choice {
    display: inline-block;
    cursor: pointer;

}

.choice:hover {
    color: #fff !important;



}

.click {
    color: #fff !important;

}





.face-icon {
    width: 64px;
    height: 64px;
    border: 3px solid var(--white);
    border-radius: 50%;
}

.small-box {
    width: 100%;
    border-radius: 1rem;
    position: relative;
}

.logo-top {
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
}

.lower-section {
    display: flex;
    flex-direction: column;
    background-color: #1C204B;
    border-radius: 0.7rem;
    width: 100%;
    position: relative;
    bottom: 2.2rem;
    height: 80%;
}

.orange {
    background-color: var(--orange);
}

.turk {
    background-color: var(--turk);
}

.red {
    background-color: var(--red);
}

.green {
    background-color: var(--green);
}

.twitch_purp {
    background-color: var(--twitch_purp);
}

.yellow {
    background-color: var(--yellow);
}

.description_dots {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem 0.5rem 2rem;
    align-items: center;
}

.stat-pics {
    height: 70px;
    width: 70px;
    position: relative;
    right: 1rem;
    top: -1rem;
}

.second-mini-section {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem 0rem 2rem;
    align-items: center;
}

.small_words {
    font-size: 0.8rem;
    font-family: 'Rubik', sans-serif;
}

.report {
    margin-bottom: 0.3rem;
}

.user_info {
    color: var(--white);
    font-weight: 300;
    margin-left: 1rem;
}

#user {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}

.medium {
    font-size: 1rem;
    color: var(--white);
    font-family: 'Rubik', sans-serif;

}

.large {
    font-size: 2rem;
    color: var(--white);
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

.small_hours {
    font-size: 0.8rem;
    color: var(--offsetpurp);
    font-family: 'Rubik', sans-serif;
}

#grid_of_cubes {
    display: grid;
    grid-template-columns: 327px;

    gap: 20px;
    justify-content: center;
}

.grey {
    background-color: #33397A;
    cursor: pointer;
}


@media screen and (min-width:768px) {
    /* #grid_of_cubes {
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 20px;
        justify-content: center;
        width: 100%;
    } */

    #grid_of_cubes {

        grid-template-rows: 242px 242px;
        grid-template-columns: 300px 300px;
        width: auto;
        justify-content: flex-start;
    }

    #large-box {
        width: 629px;

    }

    #all_items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #big_purp {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .user_info {
        margin-left: 0rem;

    }

    .face-icon {
        margin-bottom: 2rem;
        width: 78px;
        height: 78px;
    }

    .second-mini-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .lower-section {
        bottom: 1.1rem;
    }

    #small_purp {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    #small_purp p {
        padding: 0rem;
        padding-top: 1.5rem;

        padding-left: 2rem;
    }

    .medium {
        font-size: 1.1rem;
    }


    .large {
        font-size: 3.5rem;
        margin-top: 0.5rem;
    }

    .small_hours {
        margin-top: 1rem;
        font-size: 15px;
    }

}

@media screen and (min-width:1300px) {
    body {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        height: 100vh;





    }

    #all_items {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        width: auto;
        align-items: flex-start;

    }

    #large-box {
        width: 255px;
        margin-right: 1.5rem;
        margin-bottom: 0rem;

    }

    #big_purp {
        background-color: var(--purp);
        width: 100%;
        border-radius: 1rem;
        padding: 2rem;


    }





    #user {
        font-size: 2.5rem;
        line-height: 3rem;
        padding-bottom: 4rem;
    }

    #grid_of_cubes {

        grid-template-rows: 236px 236px;
        grid-template-columns: 255px 255px 255px;
        width: auto;
        gap: 30px;
        justify-content: flex-start;
    }















}